1. **결측치가 있는 행을 모두 제거하세요.**
2. **중복된 행을 제거하세요.**
3. **'petal_length'가 5보다 큰 행만 선택하세요.**
4. **'species'에 따라 데이터를 그룹화하세요.**
5. **그룹화한 데이터에서 'sepal_length'의 평균을 계산하세요.**
6. **'petal_length'를 기준으로 데이터를 오름차순으로 정렬하세요.**
7. **'petal_width'를 기준으로 데이터를 내림차순으로 정렬하세요.**
8. **'species'의 빈도수를 구하세요.**
9. **'species' 값 중 'setosa'를 포함하는 행만 선택하세요.**
10. **'species' 값이 'setosa'로 시작하는 행을 선택하세요.**
11. **'species' 값이 'virginica'로 끝나는 행을 선택하세요.**
12. **'species'의 'setosa'를 'SETOSA'로 대체하세요.**
13. **Iris 데이터셋에서 'species' 열을 제거하세요.**

In [ ]:
import seaborn as sns
iris = '/content/sample_data/train.csv'
iris = sns.load_dataset('iris')
print(iris)

In [ ]:
import pandas as pd

iris.dropna(inplace=True)
iris.drop_duplicates(inplace=True)
iris[iris['petal_length'] > 5]

grouped_iris = iris.groupby('species')
grouped_iris['sepal_length'].mean()

iris.sort_values(by='petal_length', inplace=True)
iris.sort_values(by='petal_width', inplace=True, ascending=False)

iris['species'].value_counts()

iris[iris['species'] == 'setosa']

iris[iris['species'].str.startswith('setosa')]

iris[iris['species'].str.endswith('virginica')]

iris['species'] = iris['species'].replace('setosa', 'SETOSA')

iris.drop('species', axis=1, inplace=True)